<!-- <div id="player" class="show-for-medium vidCentered" style="display:block;"></div> -->

<a href="http://eteam-s3.s3.amazonaws.com/Pack1.mp4" style="display:block;width:840px;height:480px" id="player" class="vidCentered show-for-xlarge">
  <%= image_tag "playerFallback.jpg" %>
</a>
<a href="http://eteam-s3.s3.amazonaws.com/Pack1.mp4" style="display:block;width:840px;height:480px" id="player" class="vidCentered show-for-large">
  <%= image_tag "playerFallback.jpg" %>
</a>
<a href="http://eteam-s3.s3.amazonaws.com/Pack1.mp4" style="display:block;width:640px;height:320" id="player" class="vidCentered show-for-medium">
  <%= image_tag "playerFallback.jpg", :size => "640x320" %>
</a>
<script>
  flowplayer("player", '<%= asset_path("flowplayer-3.2.12.swf") %>', {
      clip:  {
          url: "http://eteam-s3.s3.amazonaws.com/Pack1.mp4",
          autoPlay: false,
          autoBuffering: true
      }
  });
</script>
<a href="http://eteam-s3.s3.amazonaws.com/Pack1.mp4" style="display:block;width:300px;height:220px" id="player" class="vidCentered show-for-small">
  <%= image_tag "playerFallback.jpg", :size => "300x220" %>
</a>